@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);





/* #PAGE STYLES */

#preloader {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 99999999999;
}


#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/preload.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}


#video_background {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	overflow: hidden;
	opacity:.3;
}


.logo1 {
	position: absolute;
	top:19px;
	left:30px;
	width: 300px;
	height: 90px;
	background:url('../images/logo1-3.png') no-repeat center center;
	background-size: 300px 90px;
	z-index: 3900;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

/* #Navigation
================================================== */
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


.menu-btn{
	position: fixed;
	width: 50px;
	height: 50px;
	top: 40px;
	left: 30px;
	background: rgba(60,60,60,0.3) url(../images/menu.png) no-repeat center center;
	cursor:pointer;
	z-index:10000;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}
.menu-btn:hover{
	background: rgba(60,60,60,0.8) url(../images/menu.png) no-repeat center center;
}


.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,1);
	z-index: 100;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../images/cross.png) no-repeat center center;
	background-size:30px 30px;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}


/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	text-transform:uppercase;
	display: block;
	color: #fff;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.overlay ul li a:hover,
.overlay ul li a:focus {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}


/* Effects */
.wrapper {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.wrapper.overlay-open {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}


.overlay-contentscale {
	visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentscale.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}





/* #Home
================================================== */

#home{
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}





/* #Slider
================================================== */

#gallery {
position: absolute;
width: 100%;
height: 700px;
top: 0;
left: 0;
}


#controls div {
}
#controls div:hover:not(.counter) {
}
#controls div:not(.counter) {
}
#controls div.sel {
}


.prev {
	top:50%;
	margin-top:-29px;
	position:absolute;
	cursor:pointer;
	opacity:.4;
	background:url('../images/arrow-left.png') no-repeat center center;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
	left:150px;
	width:31px;
	height:58px;
	z-index:100000;
}

.next {
	top:50%;
	margin-top:-29px;
	position:absolute;
	cursor:pointer;
	opacity:.4;
	background:url('../images/arrow-right.png') no-repeat center center;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
	right:150px;
	width:31px;
	height:58px;
	z-index:100000;
}

.prev:hover, .next:hover {
	opacity:.7;
}
.prev:active, .next:active {
	opacity:.7;
}


.just_pattern {
	background-image: url(../images/pattern.png);
	position: absolute;
	opacity: 0.8;
	left: 0px;
	top: 0px;
	right:0;
	bottom:0;
	width: 100%;
	height: 100%;
	z-index: 10;
}


.logo {
	position: absolute;
	top:20px;
	left:95px;
	width: 300px;
	height: 90px;
	background:url('../images/logo1-3.png') no-repeat center center;
	background-size:300px 90px;
	z-index: 3900;
}


.big-text {
	position: absolute;
	top: 50%;
	margin-top:-55px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 0 0 15px rgba(0,0,0,0.3);
	text-transform:uppercase;
	text-align:center;
	font-weight:700;
	font-size: 70px;
	line-height:70px;
	color: #ededed;
	z-index: 20;
}


.small-text {
	position: absolute;
	top: 50%;
	left: 5%;
	width: 90%;
	margin-top:35px;
	font-family: 'Lato', sans-serif;
	text-shadow: 0 0 5px rgba(0,0,0,0.3);
	text-transform:uppercase;
	text-align:center;
	font-weight:400;
	font-size: 20px;
	line-height:20px;
	color: #fff;
	z-index: 20;
}


.scroll-btn {
	position: absolute;
	font-family: 'OpenSans-Light-webfont';
	font-size: 10px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	bottom:40px;
	left:50%;
	margin-left:-20px;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
	width: 40px;
	height:46px;
	background:url('../images/arrow-down.png') no-repeat center bottom;
	z-index: 3900;
	opacity:.6;
}


  @keyframes arrows {
    0% { bottom:40px; }
    10% { bottom:50px; }
    20% { bottom:40px; }
    30% { bottom:50px; }
    40% { bottom:30px; }
    50% { bottom:50px; }
    60% { bottom:40px; }
    70% { bottom:50px; }
    80% { bottom:30px; }
    90% { bottom:50px; }
    100% { bottom:40px; }
  }
  @-webkit-keyframes arrows {
    0% { bottom:40px; }
    10% { bottom:50px; }
    20% { bottom:40px; }
    30% { bottom:50px; }
    40% { bottom:30px; }
    50% { bottom:50px; }
    60% { bottom:40px; }
    70% { bottom:50px; }
    80% { bottom:30px; }
    90% { bottom:50px; }
    100% { bottom:40px; }
  }

  .scroll-btn {
    -webkit-animation: arrows 3.8s infinite;
    -webkit-animation-delay: 1s;
    animation: arrows 3.8s infinite;
    animation-delay: 1s;
  }


.wrapper {
	position: relative;
	height: 100% !important;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.no-js .wrapper{
  height: 0 !important;
}


.main {
	position: relative;
  width: 100%;
  margin: 0 auto;
}


.onepage-wrapper{
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top:-50px;
  z-index: 5;
  list-style: none;
  padding: 0;
}

.onepage-pagination li {
  padding: 0;
  text-align: center;
}

.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;

}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: rgba(255,255,255,0.85);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
.onepage-pagination li a.active:before{
  width: 20px;
  height: 20px;
  background: none;
  border: 1px solid white;
  margin-top: -8px;
  left: 3px;
}


.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
}

.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}

.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}

    body.disabled-onepage-scroll .onepage-wrapper  section {
      min-height: 100%;
      height: auto;
    }





/* #About
================================================== */

#about{
	position: relative;
	margin: 0 auto;
	background:url('../images/5.jpg') no-repeat center center;
	background-size:cover;
	overflow:hidden;
	z-index:2;
}


.big-text1 {
	position: absolute;
	top: 50px;
	width: 90%;
	right:10%;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 0 0 5px rgba(0,0,0,0.2);
	text-transform:uppercase;
	text-align:right;
	font-weight:700;
	font-size: 50px;
	line-height:50px;
	color: #fff;
	z-index: 20;
}

.big-text1 span {
	border-bottom:1px dashed rgba(255,255,255,.5);
}


.small-text1{
	position: absolute;
	top: 120px;
	width: 80%;  /* orig:  90% */
	right:10%;
	font-family: 'Lato', sans-serif;
	text-shadow: 0 0 5px rgba(0,0,0,0.2);
	text-transform:uppercase;
	text-align:right;
	font-weight:400;
	font-size: 14px;
	line-height:14px;
	color: #fff;
	z-index: 20;
}


.link1{
	position: absolute;
	top: 160px;
	width: 90%;
	right:10%;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	text-align:right;
	font-weight:400;
	font-size: 16px;
	line-height:16px;
	color: #fff;
	z-index: 20;
}

.link1 a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align:center;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 13px;
}
.link1 a:hover,
.link1 a:focus {
	outline: none;
}


.cl-effect-20 a {
	line-height: 2em;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	perspective: 800px;
}

.cl-effect-20 a span {
	position: relative;
	display: inline-block;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding: 8px 35px 5px;
	background: #3b3e45;
	box-shadow: inset 0 3px #dbd8d8;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
	transition: background 0.6s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}
.cl-effect-20 a span::before {
	position: absolute;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	box-shadow: inset 0 3px #5b5b5a;
	top: 0;
	left: 0;
	text-shadow:none;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #000;
	padding-top:8px;
	content: attr(data-hover);
	-webkit-transform: rotateX(270deg);
	-moz-transform: rotateX(270deg);
	transform: rotateX(270deg);
	-webkit-transition: -webkit-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	pointer-events: none;
}
.cl-effect-20 a:hover span,
.cl-effect-20 a:focus span {
	background: #3b3e45;
}
.cl-effect-20 a:hover span::before,
.cl-effect-20 a:focus span::before {
	-webkit-transform: rotateX(10deg);
	-moz-transform: rotateX(10deg);
	transform: rotateX(10deg);
}





/* #Portfolio
================================================== */

#portfolio{
	position: relative;
	margin: 0 auto;
	background:url('../images/4.jpg') no-repeat center center;
	background-size:cover;
	width: 100%;
	overflow:hidden;
	z-index:2;
}


.big-text2 {
	position: absolute;
	bottom: 165px;
	width: 90%;
	left:10%;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 0 0 5px rgba(0,0,0,0.2);
	text-transform:uppercase;
	text-align:left;
	font-weight:700;
	font-size: 50px;
	line-height:50px;
	color: #fff;
	z-index: 20;
}

.big-text2 span {
	border-bottom:1px dashed rgba(255,255,255,.5);
}


.small-text2{
	position: absolute;
	bottom: 130px;
	width: 80%;  /* orig: 90% */
	left:10%;
	font-family: 'Lato', sans-serif;
	text-shadow: 0 0 5px rgba(0,0,0,0.2);
	text-transform:uppercase;
	text-align:left;
	font-weight:400;
	font-size: 14px;
	line-height:14px;
	color: #fff;
	z-index: 20;
}


.link2{
	position: absolute;
	bottom: 60px;
	width: 90%;
	left:10%;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	text-align:left;
	font-weight:400;
	font-size: 16px;
	line-height:16px;
	color: #fff;
	z-index: 20;
}

.link2 a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align:center;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 13px;
}
.link2 a:hover,
.link2 a:focus {
	outline: none;
}





/* #Work page
================================================== */

#work{
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}


#last-work{
	position: relative;
	margin: 0 auto;
	padding-top:70px;
	padding-bottom:70px;
	background:#fff;
	width: 100%;
	overflow:hidden;
	z-index:2;
}

#last-work img{
	width: 100%;
	height:auto;
	display:block;
}

#last-work h5{
	text-align:right;
	color: #4a3d3d;
	padding-bottom:40px;
}

#last-work h6{
	text-align:right;
	color: #4a3d3d;
	padding-bottom:20px;
}

#last-work p{
	text-align:right;
	padding-bottom:30px;
}
#last-work p:last-child{
	padding-bottom:0;
}

#last-work .pad-bot-sm{
	padding-bottom: 15px;
}


.icon-left1{
	padding-left:35px;
	background:url('../images/icon1.png') no-repeat left center;
	background-size:20px 18px;
}


.icon-left2{
	padding-left:35px;
	background:url('../images/icon2.png') no-repeat left center;
	background-size:20px 18px;
}


.icon-left3{
	padding-left:35px;
	background:url('../images/icon3.png') no-repeat left center;
	background-size:20px 18px;
}


#count-wrap{
	position: relative;
	margin: 0 auto;
	padding-top:70px;
	padding-bottom:70px;
	background:#fff;
	width: 100%;
	overflow:hidden;
	z-index:2;
}


.count-wrap-num{
	font-family: 'Lato', sans-serif;
	text-align:center;
	text-transform:uppercase;
	font-weight:400;
	font-size: 50px;
	line-height:50px;
	color: #e1dcdc;
}


#count-wrap h6{
	text-align:center;
	color: #4a3d3d;
	padding-top:10px;
}


#contactus-wrap{
	position: relative;
	margin: 0 auto;
	padding-top:70px;
	padding-bottom:70px;
	width: 100%;
	overflow:hidden;
	z-index:2;
}

#contactus-wrap h6{
	text-align:center;
	color: #4a3d3d;
	padding-bottom:5px;
}

#contactus-wrap p{
	text-align:center;
}


.link4{
	position:relative;
	padding-top:30px;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	text-align:center;
	font-weight:400;
	color: #fff;
	z-index: 20;
}

.link4 a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	text-align:center;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 13px;
}
.link4 a:hover,
.link4 a:focus {
	outline: none;
}


#sep h1{
	text-align:center;
	color:#fff;
	z-index:20;
	text-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#sep .sub-font{
	font-family: 'Lato', sans-serif;
	text-align:center;
	text-transform:uppercase;
	font-weight:400;
	font-size: 15px;
	line-height:15px;
	/* color: #e1dcdc; */
  color: #f8f3f3;
	height:15px;
}

#sep .z-index{
	z-index:2000;
}

#sep{
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
	padding-top:200px;
	padding-bottom:200px;
	z-index:2;
}


.parallax {
	background: url('../images/7.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}


.portfolio-wrap{
	position: relative;
	width: 100%;
	overflow:hidden;
}


.portfolio-box{
	position: relative;
	width: 25%;
	overflow:hidden;
	display:inline-block;
	float:left;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.portfolio-box img{
	width: 100%;
	height:auto;
	display:block;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.portfolio-box:hover img{
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
}

.portfolio-box .mask{
	position:absolute;
	background:rgba(255,255,255,.7) url('../images/cross1.png') no-repeat center center;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	display:block;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.portfolio-box:hover .mask{
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
}

.portfolio-box h4{
	position:absolute;
	bottom:20px;
	left:20px;
	z-index:100;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	background:rgba(0,0,0,.4);
	font-weight:400;
	font-size: 12px;
	line-height:12px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	border:1px solid #fff;
	color:#fff;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.portfolio-box:hover h4{
	bottom:30px;
	left:30px;
	border:1px solid #000;
	color:#000;
	background:rgba(0,0,0,.0);
}


.portfolio-box-coming-soon{
	position: relative;
	width: 100%;
	overflow:hidden;
	display:inline-block;
	float:left;
	padding: 30px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	text-transform: uppercase;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
  background-color: #e1dcdc;
}


#portfolio-filter {
	position:relative;
	width:100%;
	text-align: center;
}


#filter {
	position:relative;
	width:100%;
}

#filter li {
	display: inline-block;
}

#filter li a {
	position: relative;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 12px;
	outline: none;
	color: #706e6e;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	margin-left:8px;
	margin-right:8px;
	margin-top:30px;
	margin-bottom:30px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#filter li a:after {
	content:'::::';
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 12px;
	color: #706e6e;
	padding-left:20px;
	opacity:.5;
}

#filter li:last-child a:after {
	display:none;
}

#filter li .current {
	color: #bdb3b3;
}

#filter li a:hover {
	color: #bdb3b3;
}


.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}


.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}


.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}


.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}


#footer{
	position: relative;
	margin: 0 auto;
	text-align:center;
	padding-top:35px;
	padding-bottom:35px;
	background:#3b3e45;
	width: 100%;
	overflow:hidden;
	z-index:2;
}

#footer .footer-copyright{
	text-align:center;
	color: #706e6e;
	font-size:12px;
	line-height:12px;
}

#footer .footer-text{
	display: block;
	font-size: 12px;
	color: #C9C7C7;
}

#footer .footer-text-left,
#footer .footer-text-right{
	text-align: center;
}
@media only screen and (min-width: 768px){
	#footer .footer-text-left{
		text-align: left;
	}
	#footer .footer-text-right{
		text-align: right;
	}
}

.footer-padding-top{
	padding-top: 0;
}
@media only screen and (min-width: 768px){
	.footer-padding-top{ padding-top: 20px; }
}


.social-footer{
	position:relative;
	margin:0 auto;
	text-align:center;
	width:100%;
}


.footer-link{
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.06rem;
	opacity: 1;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.footer-link:visited{
	color: #fff;
}
.footer-link:hover{
	color: #7a7a7a;
	opacity: .6;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.footer-link:active{
	color: #ffff;
}


.footer-logo{
	margin: 20px auto 0;
	width: 100px;
	height: 100px;
	background:url('../images/footer_logo.png') no-repeat center center;
	background-size:100px 100px;

}


.footer-social li {
	margin:0 auto;
    list-style: none;
	text-align:center;
    display: inline-block;
	cursor:pointer;
}

.footer-social li.icon-footer a {
	font-family: 'FontAwesome';
	font-size: 16px;
	line-height: 16px;
	margin:0 auto;
	text-align:center;
	color: #fff;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.footer-social li.icon-footer a:after {
	content:':::';
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 12px;
	padding-left:15px;
	padding-right:15px;
	color: #706e6e;
	opacity:.8;
}
.footer-social li:last-child.icon-footer a:after{
	display:none;
}

.footer-social li:hover{
}
.footer-social li:hover.icon-footer a{
	color: #706e6e;
}





/* #Project page
================================================== */

#project{
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}


#project #last-work{
	padding-top: 40px;
	padding-bottom: 40px;
}

#project #last-work h5{
	text-align:left;
}

#project #last-work h6{
	text-align:left;
}

#project #last-work p{
	text-align:left;
}

#project #last-work .img-center{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (min-width: 768px){
	#project #last-work .img-center{
		width: 50%;
	}
}


#project #count-wrap{
	padding-top: 45px;
	padding-bottom: 45px;
	background: #f5f5f5;
}

#project #count-wrap .count-wrap-num{
	color: #D2CDCD;
}


#slider-wrap{
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}

#slider-wrap img{
	width: 100%;
	height:auto;
	display:block;
}

#slider-wrap .quote-button{
	display: inline-block;
	padding: 16px 32px;
  margin-top: 30px;
  margin-bottom: 30px;
	margin-left: calc(50% - (206px / 2));  /* 206px = button width */
	font-size: 16px;
	font-weight: 700;
	line-height: 1.3;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #3b3e45;
	border-radius: 4px;
	opacity: 1;
	-webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
#slider-wrap .quote-button:hover{
	opacity: .4;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}


/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper{
	position:relative;
	width:100%;
}

.bx-wrapper .bx-prev {
	left: 50%;
	margin-left:-35px;
	bottom:-70px;
	background:url(../images/arr1.png) no-repeat center center;
	background-size:15px 15px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}

.bx-wrapper .bx-next {
	right:50%;
	margin-right:-35px;
	bottom:-70px;
	background:url(../images/arr2.png) no-repeat center center;
	background-size:15px 15px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}

.bx-wrapper .bx-prev:hover {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
.bx-wrapper .bx-next:hover {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}


.bx-wrapper .bx-controls-direction a {
	position: absolute;
	outline: 0;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	z-index: 9;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}


#slider-wrap .bx-wrapper{
}


#slider-wrap .bx-wrapper .bx-prev {
	left: 0;
	margin-left:40px;
	bottom:50%;
	margin-bottom:-20px;
	background:rgba(0,0,0,.4) url(../images/arr1.png) no-repeat center center;
	background-size:15px 15px;
}


#slider-wrap .bx-wrapper .bx-next {
	right:0;
	margin-right:40px;
	bottom:50%;
	margin-bottom:-20px;
	background:rgba(0,0,0,.4) url(../images/arr2.png) no-repeat center center;
	background-size:15px 15px;
}


#slider-wrap .bx-wrapper .bx-controls-direction a {
	width: 40px;
	height: 40px;
}


.link-middle{
	position:absolute;
	bottom:20px;
	left:50%;
	margin-left:-20px;
	width:40px;
	height:40px;
	font-family: 'FontAwesome';
	font-size: 15px;
	line-height:40px;
	text-align:center;
	background:rgba(255,255,255,.7);
	color:#3b3e45;
	z-index:20;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.link-middle:hover{
	background:#3b3e45;
	color:#fff;
}


.link-left{
	position:absolute;
	bottom:20px;
	left:50%;
	margin-left:-80px;
	width:40px;
	height:40px;
	font-family: 'FontAwesome';
	font-size: 15px;
	line-height:40px;
	text-align:center;
	background:rgba(255,255,255,.7);
	color:#3b3e45;
	z-index:20;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.link-left:hover{
	background:#3b3e45;
	color:#fff;
}


.link-right{
	position:absolute;
	bottom:20px;
	left:50%;
	margin-left:40px;
	width:40px;
	height:40px;
	font-family: 'FontAwesome';
	font-size: 15px;
	line-height:40px;
	text-align:center;
	background:rgba(255,255,255,.7);
	color:#3b3e45;
	z-index:20;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.link-right:hover{
	background:#3b3e45;
	color:#fff;
}


.tipper { height: 1px; left: -99999px; position: absolute; pointer-events: none; top: -99999px; width: 1px;z-index:1000; }

.tipper .tipper-content { background: rgba(0, 0, 0, 0.85);box-shadow: 0 0 25px rgba(0,0,0,0.5);text-transform:uppercase; border-radius: 3px; color: #fff; display: block; float: left; font-family: 'Lato', sans-serif; font-size: 10px; margin: 0; padding: 12px 16px; position: relative; white-space: nowrap; }
.tipper .tipper-caret { background: url('../images/tipper-icon.png') no-repeat; content: ''; display: block; height: 11px; margin: 0; position: absolute; width: 5px; }

.tipper.right .tipper-content { box-shadow: 1px 0 3px rgba(0, 0, 0, 0.25); }
.tipper.right .tipper-caret { background-position: left center; left: -5px; top: 0; }

.tipper.left .tipper-content { box-shadow: -1px 0 3px rgba(0, 0, 0, 0.25); }
.tipper.left .tipper-caret { background-position: right center; right: -5px; top: 0; }

.tipper.top .tipper-caret,
.tipper.bottom .tipper-caret { display: block; float: none; height: 5px; margin: 0 auto; width: 11px; }

.tipper.top .tipper-content { box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25); }
.tipper.top .tipper-caret { background-position: center bottom; bottom: -5px; left: 0; }

.tipper.bottom .tipper-content { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); }
.tipper.bottom .tipper-caret { background-position: center top; top: -5px; left: 0; }


#sep1 h1{
	text-align:center;
	color:#fff;
	z-index:20;
	text-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#sep1 .sub-font{
	font-family: 'Lato', sans-serif;
	text-align:center;
	text-transform:uppercase;
	font-weight:400;
	font-size: 15px;
	line-height:15px;
  color: #f8f3f3;
	height:15px;
}

#sep1 .z-index{
	z-index:2000;
}

#sep1{
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
	padding-top:200px;
	padding-bottom:200px;
	z-index:2;
}


.parallax1 {
	background: url('../images/8.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax1 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax1 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax1 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}


.parallax2 {
	background: url('../images/16.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax2 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax2 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax2 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}


.padding-project{
	padding-top:70px;
	padding-bottom:70px;
}


.padding-project-reduced{
	padding-top:40px;
	padding-bottom:40px;
}


.parallax3 {
	background: url('../images/26.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax3 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax3 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax3 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}


#thevideo{
	display:none;
}

.video{
	width: 100%;
	height:auto;
	display:block;
}

iframe{
	width:100%;
	height:auto;
	display:block;
}


.parallax4 {
	background: url('../images/28.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax4 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax4 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax4 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}


.padding-bottom-project {
	padding-bottom:0;
}


.parallax5 {
	background: url('../images/28.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax5 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .parallax5 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
  .parallax5 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}





/* #About single
================================================== */

#about-single{
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}

#about-single #last-work h6{
	text-align:left;
}

#about-single #last-work p{
	text-align:left;
}


.parallax7 {
	background: url('../images/33.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax7 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax7 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax7 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}


#skill{
	position: relative;
	margin: 0 auto;
	width: 100%;
	padding-top:70px;
	padding-bottom:70px;
	overflow:hidden;
	z-index:2;
}


.parallax8 {
	background: url('../images/32.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax8 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax8 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax8 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}


#skill h6{
	text-align:right;
	color: #4a3d3d;
	padding-bottom:20px;
}

#skill p{
	text-align:right;
	padding-bottom:20px;
}
#skill p:last-child{
	padding-bottom:0;
}


.z-index{
	z-index:200;
}


.skillbar {
	position:relative;
	display:block;
	margin-bottom:10px;
	width:100%;
	background:#eee;
	height:20px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
	z-index:22;
}
.skillbar:last-child {
	margin-bottom:0;
}


.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	text-align:center;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	font-weight:400;
	font-size:10px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	height:20px;
	line-height:20px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}


.skillbar-bar {
	height:20px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:12px;
	top:0;
	font-size:10px;
	height:20px;
	line-height:20px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.8);
}


#clients-wrap{
	position: relative;
	margin: 0 auto;
	width: 100%;
	padding-top:50px;
	padding-bottom:50px;
	overflow:hidden;
	z-index:2;
	/* background: #E3E1E1; */
	background: #fff;
}

#clients-wrap h5{
	text-align:center;
	color: #4a3d3d;
	padding-bottom:20px;
}


#owl-demo2{
	position:relative;
	width:100%;
	margin:0 auto;
	text-align:center;
}

#owl-demo2 img{
	width:80px;
	height:80px;
	display:block;
	margin:0 auto;
	text-align:center;
	opacity:1;  /* changed from .5 */
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
#owl-demo2 img:hover{
	opacity:1;
}


.team-img{
	position: relative;
	margin: 0 auto;
	background:#3b3e45;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	z-index:2;
}


.team-img-in{
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.team-img-in img{
	width: 100%;
	height: auto;
	display: block;
}


.team-info{
	position: relative;
	margin: 0 auto;
	background:#fff;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	z-index:2;
}

.team-info h6{
	text-align:left;
	color: #4a3d3d;
	padding-bottom:5px;
}


.team-subtext{
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 12px;
	line-height:12px;
	text-align:left;
	color: #4a3d3d;
	opacity:.4;
	font-style: italic;
	padding-bottom:20px;
}


.team-info p{
	text-align:left;
	padding-bottom:30px;
}


.social-team{
	position:relative;
	text-align:left;
	width:100%;
}


.team-social li {
	margin:0 auto;
  list-style: none;
	text-align:center;
  display: inline-block;
	cursor:pointer;
}

.team-social li.icon-team a {
	font-family: 'FontAwesome';
	font-size: 16px;
	line-height: 16px;
	margin:0 auto;
	text-align:center;
	color: #4a3d3d;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.team-social li.icon-team a:after {
	content:'::';
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 12px;
	padding-left:15px;
	padding-right:15px;
	color: #4a3d3d;
	opacity:.8;
}
.team-social li:last-child.icon-team a:after{
	display:none;
}

.team-social li:hover{
}

.team-social li:hover.icon-team a{
	opacity:.6;
}


.team-info1{
	position: relative;
	margin: 0 auto;
	background:#fff;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	z-index:2;
}

.team-info1 h6{
	text-align:right;
	color: #4a3d3d;
	padding-bottom:5px;
}


.team-subtext1{
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 12px;
	line-height:12px;
	text-align:right;
	color: #4a3d3d;
	opacity:.4;
	font-style: italic;
	padding-bottom:20px;
}


.team-info1 p{
	text-align:right;
	padding-bottom:30px;
}


.social-team1{
	position:relative;
	text-align:right;
	width:100%;
}

.team-social1 li {
	margin:0 auto;
  list-style: none;
	text-align:center;
  display: inline-block;
	cursor:pointer;
}

.team-social1 li.icon-team1 a {
	font-family: 'FontAwesome';
	font-size: 16px;
	line-height: 16px;
	margin:0 auto;
	text-align:center;
	color: #4a3d3d;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.team-social1 li.icon-team1 a:after {
	content:'::';
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 12px;
	padding-left:15px;
	padding-right:15px;
	color: #4a3d3d;
	opacity:.8;
}
.team-social1 li:last-child.icon-team1 a:after{
	display:none;
}

.team-social1 li:hover{
}

.team-social1 li:hover.icon-team1 a{
	opacity:.6;
}





/* #Services single
================================================== */

#services-single{
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}


#services-single #last-work h5{
	text-align:left;
}

#services-single #last-work h6{
	text-align:left;
}

#services-single #last-work p{
	text-align:left;
}


.parallax9 {
	background: url('../images/32-1.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax9 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax9 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax9 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}


.icon-left4{
	padding-left:35px;
	background:url('../images/icon4.png') no-repeat left center;
	background-size:20px 18px;
}


.icon-left5{
	padding-left:35px;
	background:url('../images/icon5.png') no-repeat left center;
	background-size:20px 18px;
}


.icon-left6{
	padding-left:35px;
	background:url('../images/icon6.png') no-repeat left center;
	background-size:20px 18px;
}


.icon-left7{
	padding-left:35px;
	background:url('../images/icon7.png') no-repeat left center;
	background-size:20px 18px;
}


.icon-left8{
	padding-left:35px;
	background:url('../images/icon8.png') no-repeat left center;
	background-size:20px 18px;
}


.icon-left9{
	padding-left:35px;
	background:url('../images/icon9.png') no-repeat left center;
	background-size:20px 18px;
}


.icon-left10{
	padding-left:35px;
	background:url('../images/icon10.png') no-repeat left center;
	background-size:20px 18px;
}


.icon-left11{
	padding-left:35px;
	background:url('../images/icon11.png') no-repeat left center;
	background-size:20px 18px;
}


#slider-wrap h4{
	text-align:center;
	color: #4a3d3d;
	padding-bottom:5px;
}

#slider-wrap .subtext-plans{
	text-align:center;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	font-weight:400;
	font-size: 14px;
	line-height:20px;
	color:#7a7a7a;
	opacity:.6;
	padding-bottom:30px;
}

#slider-wrap .subtext{
  text-align:center;
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-size: 16px;
  line-height:1.62;
  color: #3b3e45;
  padding-bottom:30px;
}

#slider-wrap .subtext-newline{
  display: block;
  line-height: 2;
}

#slider-wrap .subtext-last{ padding-bottom: 0; }


.plan{
	position:relative;
	text-align:center;
	background:rgba(59,62,69,.07);
	width: 100%;
	border-top:3px solid #3b3e45;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding-bottom:40px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.plan:hover{
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
}

.plan .headtext{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 20px;
	text-align:center;
	font-weight:700;
	width: 100%;
	color:#3b3e45;
	padding-left:20px;
	padding-right:20px;
	padding-top:40px;
	padding-bottom:40px;
}

.plan .price{
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	font-weight:400;
	font-size: 14px;
	line-height: 14px;
	text-align:center;
	width: 100%;
	color:#fff;
	background:#3b3e45;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.plan:hover .price{
	background:rgba(59,62,69,.9);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}


.big-price-text{
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	line-height: 40px;
	font-weight:700;
}


.big-price-dol{
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	line-height: 26px;
	font-weight:400;
	opacity:.4;
	padding-right:2px;
}


.plan .list-plan{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 14px;
	text-align:center;
	font-weight:400;
	width: 100%;
	color:#3b3e45;
}

.plan .list-plan li{
	margin-left:20px;
	margin-right:20px;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px dashed rgba(59,62,69,.2);
}
.plan .list-plan li:first-child{
	padding-top:40px;
}
.plan .list-plan li:last-child{
	border-bottom:none;
	padding-bottom:0;
}

.plan .list-plan li span{
	color:rgba(59,62,69,.7);
}


.plan1{
	position:relative;
	text-align:center;
	background:rgba(59,62,69,.07);
	width: 100%;
	border-top:3px solid #c0392b;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding-bottom:40px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.plan1:hover{
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
}

.plan1 .headtext{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 20px;
	text-align:center;
	font-weight:700;
	width: 100%;
	color:#3b3e45;
	padding-left:20px;
	padding-right:20px;
	padding-top:40px;
	padding-bottom:40px;
}

.plan1 .price{
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	font-weight:400;
	font-size: 14px;
	line-height: 14px;
	text-align:center;
	width: 100%;
	color:#fff;
	background:#c0392b;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.plan1:hover .price{
	background:rgba(192,57,43,.9);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.plan1 .list-plan{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 14px;
	text-align:center;
	font-weight:400;
	width: 100%;
	color:#3b3e45;
}

.plan1 .list-plan li{
	margin-left:20px;
	margin-right:20px;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px dashed rgba(59,62,69,.2);
}
.plan1 .list-plan li:first-child{
	padding-top:40px;
}
.plan1 .list-plan li:last-child{
	border-bottom:none;
	padding-bottom:0;
}

.plan1 .list-plan li span{
	color:rgba(59,62,69,.7);
}

.plan1 .cl-effect-20 a span {
	background: #c0392b;
}


#show-wrap{
	position: relative;
	margin: 0 auto;
	padding-top:70px;
	padding-bottom:70px;
	width: 100%;
	overflow:hidden;
	z-index:2;
}

#show-wrap img{
	width: 100%;
	height:auto;
	display:block;
}

#show-wrap h6 {
	padding-bottom:10px;
	color: #000;
}

#show-wrap p {
	color:#111;
}


.arrow-wrap{
	position: relative;
	margin: 0 auto;
	width: 100%;
	z-index:2;
}


  @keyframes arrowsservices {
    0% { margin-top:0; }
    10% { margin-top:-5px; }
    20% { margin-top:0; }
    30% { margin-top:-10px; }
    40% { margin-top:5px; }
    50% { margin-top:-5px; }
    60% { margin-top:0; }
    70% { margin-top:-5px; }
    80% { margin-top:5px; }
    90% { margin-top:-5px; }
    100% { margin-top:0; }
  }
  @-webkit-keyframes arrowsservices {
    0% { margin-top:0; }
    10% { margin-top:-5px; }
    20% { margin-top:0; }
    30% { margin-top:-10px; }
    40% { margin-top:5px; }
    50% { margin-top:-5px; }
    60% { margin-top:0; }
    70% { margin-top:-5px; }
    80% { margin-top:5px; }
    90% { margin-top:-5px; }
    100% { margin-top:0; }
  }

.arrow-wrap .arrow-down1{
	position:absolute;
	top:47%;
	right:31%;
	width: 30px;
	height:50px;
	background:url('../images/arrow_down.png') no-repeat center center;
	background-size:30px 50px;
	z-index:6;
	cursor:pointer;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
  -webkit-animation: arrowsservices 4.8s infinite;
  -webkit-animation-delay: 1s;
  animation: arrowsservices 4.8s infinite;
  animation-delay: 1s;
}

.arrow-wrap .arrow-down2{
	position:absolute;
	top:0;
	right:43%;
	width: 30px;
	height:50px;
	background:url('../images/arrow_down.png') no-repeat center center;
	background-size:30px 50px;
	z-index:6;
	cursor:pointer;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
  -webkit-animation: arrowsservices 5.5s infinite;
  -webkit-animation-delay: 1s;
  animation: arrowsservices 5.5s infinite;
  animation-delay: 1s;
}

.arrow-wrap .arrow-down3{
	position:absolute;
	top:32%;
	right:50%;
	width: 30px;
	height:50px;
	background:url('../images/arrow_down.png') no-repeat center center;
	background-size:30px 50px;
	z-index:6;
	cursor:pointer;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
  -webkit-animation: arrowsservices 6s infinite;
  -webkit-animation-delay: 1s;
  animation: arrowsservices 6s infinite;
  animation-delay: 1s;
}

.arrow-wrap .arrow-down4{
	position:absolute;
	top:40%;
	right:70%;
	width: 30px;
	height:50px;
	background:url('../images/arrow_down.png') no-repeat center center;
	background-size:30px 50px;
	z-index:6;
	cursor:pointer;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
  -webkit-animation: arrowsservices 4s infinite;
  -webkit-animation-delay: 1s;
  animation: arrowsservices 4s infinite;
  animation-delay: 1s;
}


.parallax6 {
	background: url('../images/3-1.jpg') repeat fixed;  /* change from 3.jpg to 3-1.jpg */
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax6 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax6 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax6 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}

.parallax6:after{
	background: rgba(255,255,255,.78);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	width:100%;
	content: '';
}


.color-background-services{
	background-color: rgba(255,255,255,1);
	background-color: #f5f5f5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	width:100%;
}


.color-background-about{
  background: rgba(255,255,255,.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width:100%;
}





/* #Services
================================================== */

#services{
	position: relative;
	margin: 0 auto;
	background:url('../images/6.jpg') no-repeat center center;
	background-size:cover;
	width: 100%;
	overflow:hidden;
	z-index:2;
}


.big-text3 {
	position: absolute;
	bottom: 165px;
	width: 90%;
	right:10%;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 0 0 5px rgba(0,0,0,0.2);
	text-transform:uppercase;
	text-align:right;
	font-weight:700;
	font-size: 50px;
	line-height:50px;
	color: #fff;
	z-index: 20;
}

.big-text3 span {
	border-bottom:1px dashed rgba(255,255,255,.5);
}


.small-text3{
	position: absolute;
	bottom: 130px;
	width: 80%;
	right:10%;
	font-family: 'Lato', sans-serif;
	text-shadow: 0 0 5px rgba(0,0,0,0.2);
	text-transform:uppercase;
	text-align:right;
	font-weight:400;
	font-size: 14px;
	line-height:14px;
	color: #fff;
	z-index: 20;
}


.link3{
	position: absolute;
	bottom: 60px;
	width: 90%;
	right:10%;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	text-align:right;
	font-weight:400;
	font-size: 16px;
	line-height:16px;
	color: #fff;
	z-index: 20;
}

.link3 a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align:center;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 13px;
}
.link3 a:hover,
.link3 a:focus {
	outline: none;
}





/* #Contact
================================================== */

#contact{
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow:hidden;
	z-index:2;
}

section#contact .onepage-pagination li a:before{
  background: rgba(0,0,0,0.85);
}
section#contact .onepage-pagination li a.active:before{
  border: 1px solid black;
}


#map{
	position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


.overlay1{
  display:block;
  z-index:10;
  text-align:center;
  height:80px;
  width:102px;
  background:transparent url(../images/marker.png)no-repeat bottom center;
  background-size:80px 60px;
}


.overlay_arrow1{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}

.overlay_arrow1.above{
  bottom:-13px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #000;
}

.overlay_arrow1.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #000;
}


.contact-wrap{
	position:absolute;
	width:400px;
	background:rgba(6,6,6,.8);
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	overflow:hidden;
	padding-bottom:20px;
	left:30px;
	bottom:30px;
	z-index:10;
}

.contact-wrap .contact-us{
	font-size:14px;
	line-height:50px;
	color:#414141;
	font-family: 'Lato', sans-serif;
	text-align:center;
	text-transform:uppercase;  /* added */
	font-weight:400;
	position:relative;
	width:100%;
	height:50px;
	margin-bottom:15px;
	background:#dddddd;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.contact-wrap .contact-us:hover{
	background:#c3c3c3;
}

.contact-wrap p{
	text-align:left;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	color:#f5f5f5;
	font-size: 14px;
	line-height:22px;
}

.contact-wrap a{
	color:#fff;
}
.contact-wrap a:hover{
	color:#fff;
	text-decoration:underline;
}

.contact-wrap .office-loc {
	display:inline-block;
}

.contact-wrap .office-address {
	display:block;
	padding-left:15px;
}

/* override default button styles */
.contact-wrap .loc-btn{
	text-align:left;
	padding:0;
	margin-top:5px;
	color:rgb(245,245,245,1);
	font-size: 14px;
	line-height:22px;
	background: transparent;
	outline:none;
}
.contact-wrap .loc-btn:hover {
	color:rgb(245,245,245,.4);
}
.contact-wrap .loc-btn[aria-disabled="true"]{
	pointer-events:none;
}

.contact-wrap .subtext{
	font-size:12px;
	color:rgb(245,245,245,.9);
	padding-left:10px;
}





/* #Social
================================================== */

/* Switched to using font-awesome because
   weloveiconfonts does not use https */
.social a[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
	font-size:14px;
}

.social a[class="font-awesome"] {
	font-family: 'FontAwesome';
	font-size:14px;
}


.social-wrap {
	height: 23px;
	right: 50px;
	top:50px;
	position: absolute;
	width: 90px;
	z-index:100;
}


/* ---------- SOCIAL ---------- */
.social {
	position: relative;
	height: 23px;
	width: 90px;
}

.social li {
	display: block;
	height: 30px;
	line-height: 30px;
	margin: -15px;
	position: absolute;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	text-align: center;
	width: 30px;
}

.social li a {
	color: #fffdf0;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	-webkit-transition: -webkit-transform .5s;
	-moz-transition: -moz-transform .5s;
	-ms-transition: -ms-transform .5s;
	-o-transition: -o-transform .5s;
	transition: transform .5s;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 30px;
}

.social li:hover a{
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	transform: rotate(315deg);
}

/* 1st social media position */
.facebook {
	background: rgba(21,91,157,.7);
	left: 0;
	top: 0%;
}


/* 2nd social media position */
.twitter {
	background: rgba(26,158,196,.7);
	bottom: 0;
	left: 25%;
}


/* 3rd social media position */
.instagram {
	background: rgba(225,48,108,.7);
	left: 50%;
	top: 0%;
}


/* 4th social media position */
.linked-in {
	background: rgba(21,127,157,.7);
	bottom: 0;
	left: 75%;
}


/* 5th social media position */
/*
.linked-in {
	background: rgba(21,127,157,.7);
	left: 100%;
	top: 0%;
}*/


.close-modal{
	font-family: 'Lato', sans-serif;
	font-weight:400;
	cursor:pointer;
	margin-top:20px;
	color:#000;
	font-size:24px;
}


.mb-modal-overlay {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .4;
	filter: alpha(opacity=40);
}


.mb-modal {
	display: none;
	position: absolute;
	z-index: 101;
	top: 30px;
	left:50%;
	margin-left:-300px;
	width: 600px;
	padding: 20px;
	background: #fff;
	border-top:5px solid #a9a9a9;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}


#modal-1 {
	width: 600px;
}


#ajax-form {
	width: 100%;
	font: 13px/22px 'Open Sans', sans-serif;
color:#7a7a7a;
margin:0 auto;
	padding-top: 20px;
}


label {
	display: block;
	font: 13px/34px 'Open Sans', sans-serif;
}


input{
	width: 100%;
	border:none;
	margin-bottom:10px;
	font: 13px/22px 'Open Sans', sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
}


textarea {
	width:100%;
	font: 13px/22px 'Open Sans', sans-serif;
	height:60px;
	margin-top:2px;
	padding-top: 5px;
	padding-bottom: 5px;
	border:none;
}


.error {
	font: 12px/22px 'Open Sans', sans-serif;
	display: none;
	color:#414141;
}


#ajaxsuccess {
	background: #f5f5f5;
	color:#000;
	font: 20px/60px 'Open Sans', sans-serif;
	height:60px;
	display: none;
	padding-left:10px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}


#button-con {
position:relative;
text-align:center;
	width: 100%;
margin:0 auto;
margin-top:10px;
}

#button-con button{
	width:100%;
	height:40px;
	padding-top:0;
	margin:0 auto;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height:40px;
	color:#fff;
	background: rgba(0,0,0,.4);
	text-transform:uppercase;
 }
#button-con button:hover{
	background: rgba(0,0,0,.6);
 }


.text-align-center{
	text-align:center;
	padding-top:10px;
 }

#ajax-form textarea:active,
#ajax-form input:active {
  color: #333333;
	border-bottom:1px solid rgba(100,100,100,.3);
}

#ajax-form textarea:active,
#ajax-form input:hover {
  color: #333333;
	border-bottom:1px solid rgba(100,100,100,.3);
}

#ajax-form textarea,
#ajax-form input {
  color: #333333;
	border-bottom:1px solid rgba(100,100,100,.3);
}


#ajax-form input[type="text"]{
}

#ajax-form input[type="text"], textarea{
}


#button-con button:focus,
#ajax-form textarea:focus,
#ajax-form input:focus {
  outline: none !important;
  border-color: rgba(255,255,255,.6);
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}





/* #Utilities Classes
================================================== */

.background-color-white{ background-color: #fff; }


.padding-project-bottom{ padding-bottom: 35px; }


.textCap{ text-transform: uppercase; }


.top-line{ position: relative; }

.top-line:after{
  position: absolute;
  left: calc(50% - (10px / 2));
  width: 10px;
  height: 1px;
  background-color: #3b3e45;
  content: '';
}





/* #No JavaScript
================================================== */
.warning{ position: relative; }


.warning-js{
	position: absolute;
	top: 0;
	left: 0;
	right:  0;
	bottom:  0;
	width: 100%;
	height: 100%;
	background-color: #999;
	background-image: url(../images/logo1-3.png);
	background-repeat: no-repeat;
	background-position: left 48% top 45%;
	background-size: 200px 60px;
	z-index: 999999999999;
	overflow: scroll;
}
.warning-js:before{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(../images/pattern.png);
	width: 100%;
	height: 100%;
	content: '';
}


.warning-js-contactus{
	position: absolute;
	top: auto;
	bottom: 0;
	margin: 0 auto;
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
	width: 100%;
}


.warning-js-text{
	position: relative;
	top: calc(37% - (60px / 2));
	width: 99%;
	padding: 0 4%;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.3;
	text-align: center;
	color: rgba(255,255,255,1);
	letter-spacing: 0.05rem;
}


.warning-js .footer-text{
	display: block;
	font-size: 12px;
	font-weight: 700;
	/* color: #C9C7C7; */
	color: #fff;
}


.warning-js .footer-text-left,
.warning-js .footer-text-right{
	text-align: center;
}


.warning-js .footer-email a{
	color: #fff;
	letter-spacing: 0.03rem;
	opacity: 1;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.warning-js .footer-email a:hover{
	opacity: .4;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

/* warning-js media queries */
@media only screen and (min-width: 400px) {
	.warning-js{
		background-size: 240px 72px;
	}

	.warning-js-text{
		top: calc(38% - (72px / 2));
		font-size: 18px;
	}

	.warning-js-contactus{
		padding-top:25px;
		padding-bottom:25px;
	}

	.warning-js .footer-text{
		font-size: 13px;
	}
}


@media only screen and (min-width: 500px) {
	.warning-js{
		background-size: 300px 90px;
	}

	.warning-js-text{
		top: calc(38% - (90px / 2));
		font-size: 20px;
	}

	.warning-js-contactus{
		padding-top:35px;
		padding-bottom:35px;
	}

	.warning-js .footer-text{
		font-size: 14px;
	}
}


@media only screen and (min-width: 600px) {
	.warning-js{
		background-size: 370px 111px;
	}

	.warning-js-text{
		top: calc(38% - (111px / 2));
		font-size: 22px;
	}

	.warning-js .footer-text{
		font-size: 15px;
	}
}


@media only screen and (min-width: 700px) {
	.warning-js{
		background-size: 450px 135px;
	}

	.warning-js-text{
		top: calc(38% - (135px / 2));
		font-size: 24px;
	}
}


@media only screen and (min-width: 900px) {
	.warning-js{
		background-size: 500px 150px;
	}

	.warning-js-text{
		top: calc(38% - (150px / 2));
		font-size: 26px;
	}
}


@media only screen and (min-width: 768px){
	.warning-js .footer-text-left{
		text-align: left;
	}

	.warning-js .footer-text-right{
		text-align: right;
	}
}

@media only screen and (max-width: 767px) and (orientation: landscape){
	.warning-js-contactus{
		top: 50%;
		bottom: 0;
	}
}





/* #Media Queries
================================================== */

@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.prev {
		left:100px;
	}

	.next {
		right:100px;
	}
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
	.big-text {
		margin-top:-45px;
		text-shadow: 0 0 10px rgba(0,0,0,0.3);
		font-size: 50px;
		line-height:50px;
	}

	.small-text {
		margin-top:23px;
		font-size: 18px;
		line-height:18px;
	}

	.prev {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-left.png') no-repeat center center;
		background-size:16px 29px;
		left:20px;
		width:16px;
		height:29px;
	}

	.next {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-right.png') no-repeat center center;
		background-size:16px 29px;
		right:20px;
		width:16px;
		height:29px;
	}

	#filter li a:after {
		display:none;
	}
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
	.big-text {
		margin-top:-40px;
		text-shadow: 0 0 10px rgba(0,0,0,0.3);
		font-size: 40px;
		line-height:40px;
	}

	.small-text {
		margin-top:18px;
		font-size: 18px;
		line-height:18px;
	}

	.prev {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-left.png') no-repeat center center;
		background-size:16px 29px;
		left:20px;
		width:16px;
		height:29px;
	}

	.next {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-right.png') no-repeat center center;
		background-size:16px 29px;
		right:20px;
		width:16px;
		height:29px;
	}

	.big-text1 {
		font-size: 40px;
		line-height:40px;
	}

	.small-text1{
		top: 110px;
		font-size: 10px;
		line-height:10px;
	}

	.link1{
		top: 146px;
	}

	.big-text2 {
		bottom: 151px;
		font-size: 40px;
		line-height:40px;
	}

	.small-text2{
		bottom: 126px;
		font-size: 10px;
		line-height:10px;
	}

	.big-text3 {
		bottom: 151px;
		font-size: 40px;
		line-height:40px;
	}

	.small-text3{
		bottom: 126px;
		font-size: 10px;
		line-height:10px;
	}

	#modal-1 {
		width: 420px;
	}

	.mb-modal {
		margin-left:-210px;
		width: 420px;
	}

	#filter li a:after {
		display:none;
	}

	#sep1 h1,
	#sep h1{
		font-size: 40px;
		line-height: 40px;
	}

	#sep1 .sub-font,
	#sep .sub-font{
		font-size: 14px;
		line-height: 14px;
	}

	#count-wrap h6{
		font-size: 18px;
		line-height: 22px;
	}

	.count-wrap-num{
		font-size: 45px;
		line-height: 45px;
	}

	#slider-wrap h4{
		font-size: 30px;
		line-height: 34px;
	}

	#slider-wrap .quote-button{
		font-size: 14px;
		margin-left: calc(50% - (190px / 2));
	}

	#filter li a{
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.portfolio-box-coming-soon{
		padding: 25px 0;
		font-size: 24px;
	}
}


@media only screen and (min-width: 640px) and (max-width: 767px) {
	.logo1 {
		width: 250px;
		height: 75px;
		background-size:250px 75px;
	}
}


@media only screen and (min-width: 480px) and (max-width: 639px) {
	.logo1 {
		width: 220px;
		height: 66px;
		background-size:220px 66px;
	}
}


@media only screen and (max-width: 900px) and (orientation: landscape){
	.logo1 {
		width: 150px;
		height: 45px;
		background-size:150px 45px;
	}
}


@media only screen and (min-width: 320px) and (max-width: 479px) {
	.big-text {
		margin-top:-30px;
		text-shadow: 0 0 5px rgba(0,0,0,0.3);
		font-size: 24px;
		line-height:24px;
	}

	.small-text {
		left: 10%;
		width: 80%;
		margin-top:8px;
		font-size: 14px;
		line-height:14px;
	}

	.prev {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-left.png') no-repeat center center;
		background-size:16px 29px;
		left:20px;
		width:16px;
		height:29px;
	}

	.next {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-right.png') no-repeat center center;
		background-size:16px 29px;
		right:20px;
		width:16px;
		height:29px;
	}

	.big-text1 {
		font-size: 28px;
		line-height:28px;
	}

	.small-text1{
		top: 90px;
		font-size: 10px;
		line-height:10px;
	}

	.link1{
		top: 126px;
	}

	.link1 a,
	.link2 a,
	.link3 a,
	.link4 a{
		font-size: 11px;
	}

	.big-text2 {
		bottom: 151px;
		font-size: 28px;
		line-height:28px;
	}

	.small-text2{
		bottom: 126px;
		font-size: 10px;
		line-height:10px;
	}

	.big-text3 {
		bottom: 151px;
		font-size: 28px;
		line-height:28px;
	}

	.small-text3{
		bottom: 116px;
		font-size: 10px;
		line-height:10px;
	}

	#modal-1 {
		width: 320px;
	}

	.mb-modal {
		margin-left:-160px;
		width: 320px;
	}

	.contact-wrap{
		width:100%;
		left:0;
		bottom:0;
	}

	/* override default button styles */
	.contact-wrap .loc-btn{
		font-size: 13px;
		line-height:20px;
	}

	.contact-wrap .subtext{
		font-size:11px;
	}

	#filter li a:after {
		display:none;
	}

	.cl-effect-20 a span {
		padding-left: 25px;
		padding-right: 25px;
	}

	#sep1 h1,
	#sep h1{
		font-size: 35px;
		line-height: 35px;
	}

	#sep1 .sub-font,
	#sep .sub-font{
		font-size: 13px;
		line-height: 13px;
	}

	#contactus-wrap h6,
	#last-work h6,
	#show-wrap h6{
		font-size: 18px;
		line-height: 22px;
	}

	#count-wrap h6{
		font-size: 16px;
		line-height: 20px;
	}

	.count-wrap-num{
		font-size: 40px;
		line-height: 40px;
	}

	#slider-wrap h4{
		font-size: 26px;
		line-height: 30px;
	}

	#slider-wrap .subtext{
		font-size: 14px;
	}

	#slider-wrap .quote-button{
		font-size: 12px;
		margin-left: calc(50% - (170px / 2));
	}

	#filter li a{
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.portfolio-box-coming-soon{
		padding: 25px 0;
		font-size: 20px;
	}
}


@media only screen and (min-width: 360px) and (max-width: 479px) {
	.logo {
		top:31px;
		width: 220px;
		height: 66px;
		background-size:220px 66px;
	}

	.logo1 {
		width: 180px;
		height: 54px;
		background-size:180px 54px;
	}
}


@media only screen and (max-width: 359px) {
	.logo {
		top:38px;
		width: 180px;
		height: 54px;
		background-size:180px 54px;
	}
	.logo1{
		width: 150px;
		height: 45px;
		background-size:150px 45px;
	}
}


@media only screen and (max-width: 319px) {
	.big-text {
		margin-top:-27px;
		text-shadow: 0 0 5px rgba(0,0,0,0.3);
		font-size: 20px;
		line-height:20px;
	}

	.small-text {
		left: 10%;
		width: 80%;
		margin-top:5px;
		font-size: 12px;
		line-height:12px;
	}

	.prev {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-left.png') no-repeat center center;
		background-size:16px 29px;
		left:20px;
		width:16px;
		height:29px;
	}

	.next {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-right.png') no-repeat center center;
		background-size:16px 29px;
		right:20px;
		width:16px;
		height:29px;
	}

	.big-text1 {
		font-size: 28px;
		line-height:28px;
	}

	.small-text1{
		top: 90px;
		font-size: 10px;
		line-height:10px;
	}

	.link1{
		top: 126px;
	}

	.link1 a,
	.link2 a,
	.link3 a,
	.link4 a{
		font-size: 11px;
	}

	.big-text2 {
		bottom: 151px;
		font-size: 28px;
		line-height:28px;
	}

	.small-text2{
		bottom: 126px;
		font-size: 10px;
		line-height:10px;
	}

	.big-text3 {
		bottom: 151px;
		font-size: 28px;
		line-height:28px;
	}

	.small-text3{
		bottom: 116px;
		font-size: 10px;
		line-height:10px;
	}

	#modal-1 {
		width: 300px;
	}

	.mb-modal {
		margin-left:-150px;
		width: 300px;
	}

	.contact-wrap{
		width:100%;
		left:0;
		bottom:0;
	}

	.contact-wrap p{
		text-align:left;
		padding-left:20px;
		padding-right:20px;
		padding-top:5px;
		color:#f5f5f5;
		font-size: 12px;
		line-height:22px;
	}

	/* override default button styles */
	.contact-wrap .loc-btn{
		font-size: 12px;
		line-height:20px;
	}

	.contact-wrap .subtext{
		font-size:11px;
	}

	#filter li a:after {
		display:none;
	}

	.cl-effect-20 a span {
		padding-left: 25px;
		padding-right: 25px;
	}

	#sep1 h1,
	#sep h1{
		font-size: 30px;
		line-height: 30px;
	}

	#sep1 .sub-font,
	 #sep .sub-font{
		font-size: 12px;
		line-height: 12px;
	}

	#contactus-wrap h6,
	#last-work h6,
	#show-wrap h6{
		font-size: 18px;
		line-height: 22px;
	}

	#count-wrap h6{
		font-size: 16px;
		line-height: 20px;
	}

	.count-wrap-num{
		font-size: 40px;
		line-height: 40px;
	}

	#slider-wrap h4{
		font-size: 26px;
		line-height: 30px;
	}

	#slider-wrap .subtext{
		font-size: 14px;
	}

	#slider-wrap .quote-button{
		font-size: 12px;
		margin-left: calc(50% - (170px / 2));
	}

	#filter li a{
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.portfolio-box-coming-soon{
		padding: 25px 0;
		font-size: 20px;
	}
}





/* #Font-Face
================================================== */

@font-face {
  font-family: 'FontAwesome';
  src: url('font/fontawesome-webfont.eot?v=3.0.1');
  src: url('font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans-Light-webfont';
  src: url('font/OpenSans-Light-webfont.eot');
  src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/OpenSans-Light-webfont.woff') format('woff'),
       url('font/OpenSans-Light-webfont.ttf') format('truetype'),
       url('font/OpenSans-Light-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
